In [4]:
import numpy as np
import pandas as pd

Collecting scikit-learn
  Downloading scikit_learn-1.2.2-cp39-cp39-win_amd64.whl (8.4 MB)
     ---------------------------------------- 8.4/8.4 MB 219.9 kB/s eta 0:00:00
Collecting scipy
  Downloading scipy-1.10.1-cp39-cp39-win_amd64.whl (42.5 MB)
     -------------------------------------- 42.5/42.5 MB 240.9 kB/s eta 0:00:00
Requirement already satisfied: matplotlib in c:\users\hp\miniconda3\envs\env-01\lib\site-packages (3.7.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hp\miniconda3\envs\env-01\lib\site-packages (from scikit-learn) (1.24.3)
Collecting joblib>=1.1.1
  Using cached joblib-1.2.0-py3-none-any.whl (297 kB)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\hp\miniconda3\envs\env-01\lib\site-packages (from matplotlib) (5.12.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\miniconda3\envs\env-01\lib\site-packages (from matplotlib) (4.39.3)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\miniconda3\envs\env-01\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\miniconda3\envs\env-01\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\miniconda3\envs\env-01\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hp\miniconda3\envs\env-01\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\miniconda3\envs\env-01\lib\site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hp\miniconda3\envs\env-01\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hp\miniconda3\envs\env-01\lib\site-packages (from matplotlib) (9.5.0)
Requirement already satisfied: zipp>=3.1.0 in c:\users\hp\miniconda3\envs\env-01\lib\site-packages (from importlib-resources>=3.2.0->matplotlib) (3.15.0)
Requirement already satisfied: six>=1.5 in c:\users\hp\miniconda3\envs\env-01\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'c:\\Users\\Hp\\miniconda3\\envs\\env-01\\Lib\\site-packages\\scipy\\fft\\_pocketfft\\pypocketfft.cp39-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

In [5]:
# set the random seed for reproductivity
np.random.seed(123)
# create a dataframe with two classes
n_sampl=1000
class_0_ratio=0.9
n_class_0=int(n_sampl*class_0_ratio)
n_class_1=n_sampl-n_class_0

In [6]:

n_class_0,n_class_1

(900, 100)

In [7]:
class0=pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})

class1=pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature2':np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [8]:

df=pd.concat([class0,class1]).reset_index(drop=True)

In [9]:
df.head()

   feature1  feature2  target
0 -1.085631  0.551302       0
1  0.997345  0.419589       0
2  0.282978  1.815652       0
3 -1.506295 -0.252750       0
4 -0.578600 -0.292004       0

In [10]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

### UPSAMPLING

In [11]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [12]:
df_majority.head()

   feature1  feature2  target
0 -1.085631  0.551302       0
1  0.997345  0.419589       0
2  0.282978  1.815652       0
3 -1.506295 -0.252750       0
4 -0.578600 -0.292004       0

In [13]:
df_minority.head()

     feature1  feature2  target
900 -0.300232  0.139033       1
901 -0.632261  0.025577       1
902 -0.204317 -0.196443       1
903  0.213696  1.312255       1
904  1.033878  1.187417       1

In [14]:
# upsampling perform
from sklearn.utils import resample

In [15]:
df_minority_upsample=resample(df_minority,replace=True,##smaple with replacement
                              n_samples=len(df_majority)## to match the majority class
                              ,random_state=42 )

In [16]:
df_minority_upsample.shape

(900, 3)

In [17]:
df_minority_upsample.head()

     feature1  feature2  target
951 -0.874146 -0.156083       1
992  0.196570 -0.602575       1
914 -0.067830  0.998053       1
971  0.272825  1.034197       1
960  0.870056 -0.449515       1

In [19]:
df_minority_upsample['target'].value_counts()

target
1    900
Name: count, dtype: int64

In [20]:

df_upsampled=pd.concat([df_majority,df_minority_upsample])

In [21]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

### DOWNSAMPLING

In [22]:
class0=pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})

class1=pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature2':np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})


df=pd.concat([class0,class1]).reset_index(drop=True)

In [23]:
#this give the count of the target value with 0 and 1 
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [24]:
df_majority_downsample=resample(df_majority,replace=False,##smaple without replacement
                              n_samples=len(df_minority)## to match the minority class
                              ,random_state=42 )

In [25]:
df_majority_downsample.shape

(100, 3)

In [26]:
df_downsample=pd.concat([df_minority,df_majority_downsample])

In [27]:
df_downsample['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64